@import '../../mixins';

.box {
	padding: 40px 0;
}

.description {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 31px;
}

.text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: black;
	margin-top: 16px;
	@include media('tablet') {
		font-size: 18px;
		line-height: 25px;
		margin-top: 8px;
	}
	@include media('desktop') {
		line-height: 33px;
	}
}
.title {
	font-size: 32px;
	line-height: 44px;
	color: black;
	margin: 16px 50px 8px;
	@include media('tablet') {
		font-size: 40px;
		line-height: 54px;
		margin: 16px auto;
	}

	@include media('desktop') {
		line-height: 48px;
	}
}

.boxItem {
	display: flex;
	gap: 8px;
	flex-direction: column;
	@include media('tablet') {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 18px;
	}
}
.img {
	width: 100%;
}


