@import '../../mixins';
.section {
	background: $main;
	@include media('tablet') {
		display: flex;
	}
}
.box {
	margin: 0 auto;
	@include media('tablet') {
		display: flex;
	}
}

.img {
	min-height: 220px;
	width: 100%;
	background-position: center;
		background-size: cover;
		background-image: url(../../assets/images/home/people.jpg);
	@include media('tablet') {
		width: 50%;
		background-position: center;
		background-size: cover;
		background-image: 
			url(../../assets/images/home/people.jpg);
	}
}
.text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: white;
	@include media('tablet') {
		font-size: 18px;
		line-height: 25px;
	}
}
.title {
	font-size: 32px;
	line-height: 44px;
	color: white;
	margin-top: 16px;
	margin-bottom: 24px;

	@include media('tablet') {
		font-size: 40px;
		line-height: 48px;
	}
}
.description {
	padding: 79px 20px;
	@include media('tablet') {
		padding: 62px 32px;
		width: 50%;
	}
}
.button {
	padding: 16px 32px;
	font-size: 16px;
	line-height: 22px;
	background: transparent;
	margin-top: 24px;

	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	&:hover,
	&:focus {
		border: 1px solid #28A745;
border-radius: 5px;
color: #28A745;
background-color: #F4F4F4;
	}
}
