.navbar-container {
    position: fixed;
  width: 100%;
  height: 80px;
  font-size: 1.125rem; /* Equivalent to text-1xl in Tailwind */
  font-weight: 700; /* Equivalent to font-bold in Tailwind */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; /* Adjust the padding as needed */
  background-color: #fff; /* Replace with your desired background color */
  color: #333;
  z-index: 999;
}