.work-section {
    width: 100%;
    color: #333;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px){
        padding-top: 20px;
        /* height: 100vh; */
        height: fit-content;
    }
}

.work-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}